@media only screen and (min-width: 32.53m){
    h1 {
        font-size: 2.5em;
        color:white;
    }
    h2 {
        font-size: 2.5em;
        color:white;
    }
    p {
        font-size: 2.5em;
        color:white;
    }
}