head {
    display: none;
}
meta {
    display: none;
}
title {
    display: none;
}
link {
    display: none;
}
body {
    background-color: #fdfdff;
    font-family: Roboto, open-sans, sans-serif;
    max-width: 960px;
    font-size: 20px;
}

#content {
    background-color: #fff;
    border: 1px solid;
}
div {
    display: block;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

img{
    padding: 5%;
    border-radius: 25px;
}

.home-grid{
    /* margin: 0 auto; */
    /* align-items: center; */
    /* justify-content: center; */
    font-size: 15px;
    
}