head {
    display: none;
}
meta {
    display: none;
}
title {
    display: none;
}
link {
    display: none;
}
body {
    background-color: #fdfdff;
    font-family: Roboto, open-sans, sans-serif;
    max-width: 960px;
    font-size: 20px;
}

#content {
    background-color: #fff;
}

div {
    display: block;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

}

img{
    padding: 5%;
    border-radius: 25px;
}

.home-grid{
    /* margin: 0 auto; */
    /* align-items: center; */
    justify-content: center;
    font-size: 15px;
    
}
.block {
    display: block;
    width: px;
    height: 200px;
    background-color: lightskyblue;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 10px #888888;
  }
  
  .container {
    text-align: center;
  }
  .block-2 {
    display: block;
    width: px;
    height: 60px;
    background-color: lightskyblue;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 10px #888888;
  }
  
  .container-2 {
    text-align: center;
  }
.lesson-list {
    text-align: left;
}
.copyright {
    font-size: 20px;
}
.update {
    font-size: 15px; 
}