body {
    font-family: 'Roboto', cursive;
    max-width: 500px;
    margin: auto;
  }
  
  
  h1, h2, p, img, figcaption {
    text-align: center;
  }
  
  h1 {
    color: rgb(173, 78, 78);
    border-bottom: light rgb(100, 100, 177);
  }
  
  figure {
    width: 25%;
    text-align: center;
    margin: auto;
  }
  
  p {
    font-size: 30px;
  }