@media only screen and (min-width: 800px) {
	h1 {
	  font-size: 3rem;
	}
	
	h2, h4 {
	  font-size: 1.3rem;
	}
  
	.index{
	  grid-template-rows: 1fr 1fr 1fr;  
	  margin: 5px 5% 0% 5%;
	}
  
	#button {
	  display: none;
	}
  
	.commerceTitle {
	margin-left: 10px;
	padding: 15px; 
	margin-top: 20%;
	} 
	
	.headerNav {
	margin-left: 10px;
	margin-top: 20%;
	}
  
	.social {
	  grid-column: 4/5;
	  grid-row: 1;
	  margin-left: 15px;
	  margin-top: 35%;
	  margin-right: auto;
	  padding-bottom: 25%;
	}
  
	nav ul {
	  display: flex;
	  grid-column: 3/4;
	  grid-row: 1;
	}
  
	nav ul.open {
	  display: flex;
	}
  
	nav ul li a {
	  border-top: none;
	  padding-bottom: 50%
	}
  
	.event {
	  grid-column: 1/2;
	  grid-row: 1;
	}
  
	.hero {
	  grid-column: 2/4;
	  grid-row: 1/3;
	}
  
	.nested {
	  flex-direction: column;
	  grid-column: 4/5;
	  grid-row: 1/4;
	}
  
	.nested div img {
	  width: 75%;
	  margin: auto;
	}
  
	.spotlight3 {
	  display: grid;
	}
  
	.weather {
	  grid-column: 1/2;
	  grid-row: 2;
	}
  
	.join {
	  grid-column: 1/2;
	  grid-row: 3;
	}
  
	.release {
	  grid-column: 2/4;
	  grid-row: 3;
	  border: none;
	}
  
  
	.discoverMain {
	  display: grid;
	  grid-template-columns: 1fr;
	  grid-template-rows: .05fr .5fr .5fr .5fr .5fr;
	  margin: 15px;
	}
  
	.discoverMain section {
	  margin: 5px;
	}
  
	.populationContainer, .locationContainer, .economicContainer {
	  display: inline;
	  padding: 15px;
	}
  
	.historyContainer {
	  display: block;
	  padding: 5px;
	}
   
	.historyContent {
	  margin: 15px;
	  text-align: left;
	} 
  
	.hisImages {
	  display: flex;
	  margin: auto;
	  width: 100%;
	}
  
	.Farm { 
	  padding: 5px; 
	  text-align: center;
	}  
  
	.parkContainer {
	  display: block;
	  margin: 0;
	}
  
	.parkImg {
	  display: flex;
	  margin: auto;
	  width: 100%;
	}
	 
	.const {
	  display: grid;
	  margin-right: 5px;
	}
	
	.scenic {
	  padding: 5px;
	  margin-left: 25%;
	}
  
  
	.joinHTML {
	  display: grid;
	  grid-template-columns: 1fr 1fr;
	  grid-template-rows: .02fr 1fr;
	  grid-gap: 5px;
	}
  
	form {
	  grid-column: 1/2;
	  grid-row: 2;
	}
  
	.joinFormTitle {
	  grid-column: 1/3;
	  grid-row: 1; 
	}
  
	form label.sbs { 
	  padding: 0.4rem 0;
	}
  
	.membenefits {
	  text-align: center;
	  padding: 10px;
	}
  
	.joinH4 {
	  font-size: 1rem;
	  margin: 20px;
	}
  
	.membershipbenefits {
	  display: block;
	  grid-column: 2/3;
	  grid-row: 2;
	  border: 1px solid rgba(55,93,219);
	  border-radius: 10px;
	  background-color: #869FC7;
	  padding: 15px;
	  margin-top: 7%;
	  margin-bottom: 46%;
	}
  
	.contactMain {
	  display: grid;
	  grid-template-columns: 1fr 1fr;
	  grid-template-rows: 1fr;
	  margin: 10px;
	  grid-gap: 10px;
	}
	
	.contactContent {
	  display: grid;
	  grid-column: 2/3;
	  grid-row: 2;
	  background-color: #869FC7;
	  padding: 20px 20px;
	  margin: 9% 10% 21% 13%; 
	  border-radius: 10px;
	}
  
	.contactForm {
	  width: 100%;
	}
  
  
	
	.hover:hover {box-shadow: 0 0 50px #333;}
  
	.mbm-difference:hover{
	  mix-blend-mode:difference;
	}
  }
	
  
  