@media only screen and (min-width: 60rem) {
	.index{
	  display: grid;
	  grid-template-columns: 1fr 1fr 1fr 1fr;
	  grid-template-rows: 1fr 1fr 1fr;  
	  margin: 0% 5%;
	}
  
	.discover {
	  display: grid;
	  grid-template-columns: 1fr;
	  grid-template-rows: .05fr .25fr 1fr 1fr 1fr;
	}
  
	h1, h2, h4 {
	  font-size: 1.3rem;
	}
	
	#button {
	  display: none;
	}
  
  .commerceTitle {
	margin-left: 10px;
	padding: 15px; 
	margin-top: 20%;
  } 
	
  .headerNav {
	margin-left: 10px;
	margin-top: 20%;
  }
  
	.social {
	  grid-column: 4/5;
	  grid-row: 1;
	  margin-left: 15px;
	  margin-top: 35%;
	  margin-right: auto;
	  padding-bottom: 25%;
	}
  
	nav ul {
	  display: flex;
	  grid-column: 3/4;
	  grid-row: 1;
	}
  
	nav ul.open {
	  display: flex;
	}
  
  
	nav ul li a {
	  border-top: none;
	  padding-bottom: 50%
	}
  
	.event {
	  grid-column: 1/2;
	  grid-row: 1;
	}
  
	.hero {
	  grid-column: 2/4;
	  grid-row: 1/3;
	
	}
  
	.herobtn {
	  position: absolute;
	}
  
	.nested {
	  display: flex;
	  flex-direction: column;
	  grid-column: 4/5;
	  grid-row: 1/4;
	  border: 2px solid #000;
	}
  
	.spotlight1 {
	  margin: 10px 10px 0px 10px;
	}
  
	.spotlight2 {
	  margin: 0px 10px;
	}
  
	.spotlight3 {
	  display: grid;
	  margin: 0px 10px 10px 10px;
	}
  
	.weather {
	  grid-column: 1/2;
	  grid-row: 2;
	}
  
	.join {
	  display: grid;
	  grid-column: 1/2;
	  grid-row: 3;
	  position: relative;
	  text-align: center;
	  width: 100%;
	  background-color: #3398a5;
	  margin: 5px auto;
	}
  
	.release {
	  grid-column: 2/4;
	  grid-row: 3;
	  border: none;
	}
  
	.hover:hover {box-shadow: 0 0 50px #333;}
  
	.mbm-difference:hover{mix-blend-mode:difference;}
  
  
  }
	
  
  