html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}


* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


body {
  width: 100%;
  margin: auto;
  max-width: 1200px;
}

header {
  display: grid;
  grid-template-columns: 20% 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: #327ba8;
  padding: 10px;
  color: white;
  align-items: center;
  min-width: 320px;
}

.logo {
  grid-column: 1;
  grid-row: 1;
  margin-left: 2%;
  width: 75%;
}

#commerceTitle {
  grid-column: 2/3;
  grid-row: 1;
  padding-left: 50px;
}

h1 h2 h3 h4 {
  font-family: 'roboto', serif;
}

p {
  font-family: 'roboto', sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1.2rem;
}

h4 {
  font-size: .8rem;
}

nav button {
  margin-left: 70%;
}

nav ul {
  display: none;
  grid-column: 4/5;
  grid-row: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
}
  
nav ul.open {
  display: block;
}

nav ul li a {
  display: block;
  padding: .1rem 2vw;
  text-decoration: none;
  color: #000;
  font-size: 1rem;
}

  a:hover {
  background-color: white;
  color: #000;
}

strong {
  font-weight: bold;
  font-size: 1rem;
}

.social {
  display: flex;
  color: white;
  width: 100%;
}

.social a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  align-content: center;
}

.social a:hover {
  color: #0A1128;
  background-color: #869FC7;
  padding: 2px;
}

.social a:visited {
  color: white;
  margin-left: 100px;
}

.currentdate {
  grid-column: 1/5;
  grid-row: 2;
  text-align: center;
  border: 2px solid #101113;
  background-color: #e2e6ec;
  padding: 10px;
  color: black;
  font-weight: bolder;
}

.index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5px 5px;
}

.discover {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .05fr .25fr 1fr 1fr 1fr;
}

.event {
  grid-column: 1/5;
  grid-row: 2/3;
  width: 100%;
  background-color: #3398a5;
  text-align: center;
  margin: 5px auto;
}

.eventimg {
  width: 35%;
}

.eventinfo {
  left: 25px;
  font-size: x-small;
  width: 100%;
}

.hero {
  grid-column: 1/5;
  grid-row: 1/2;
  text-align: left;
  position: relative;
  margin: 5px;
}

.herofig {
  margin: 0;
  width: 100%;
  height: 100%;
}

.heroimg {
 width: 100%;
 height: 100%;
}


.herotitle {
  position: absolute;
  color: #000;
  left: 100px;
  font-size: 2rem;
  filter: brightness(120%);
}

.herobtn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  float: right;
  background-color: #306ebe;
  border-radius: 8px;
  box-shadow: 10px 10px 10px #000;
  font: inherit;
  font-size: 1rem;
  font-weight: bolder;
  font-style: italic;
  filter: brightness(120%);
  padding: 10px 0px;
  width: 100px;
}

.nested {
  display: block;
  grid-column: 1/5;
  grid-row: 5/6;
  border: 2px solid #000;
  width: 100%;
  background-color: white;
}

.spotlight1 {
  flex: auto;
  background-color: #3398a5;
  text-align: center;
  padding-top: 10px;
}

.spotlight1quote {
  font-style: oblique;
}

.state-bank-of-southern-utah {
  margin: 15px 10px;
}

.weather {
  grid-column: 1/5;
  grid-row: 3/4;
  text-align: center;
  background-color: #3398a5;
  padding-top: 30px;
}

.speed{
  display: flex;
  margin-left: 15%;
}

.speed p {
  margin-left: 2px;
 }

.wind {
  display: flex;
  margin-left: 15%
}

.wind p {
  margin-left: 2px;
}

.spotlight2 {
  flex: auto;
  text-align: center;
  background-color: #6b93c9;
  padding-bottom: 10px;
}

.spotlight2quote {
  font-style: oblique;
}

.join {
  display: none;
}

.joinbtn {
  position: absolute;
  background-color: #306ebe;
  border-radius: 8px;
  box-shadow: 10px 10px 10px #000;
  font: inherit;
  font-size: 1rem;
  font-weight: bolder;
  font-style: italic;
  filter: brightness(120%);
  flex-direction: row;
  height: 40px;
  width: 70%;
  padding: 7px 0px;
  top: 60%;
  left: 15%;
}

.joinpara {
  position: center;
  top: 40%;
  width: 100%;
  margin: 5px auto;
  font-size: 18px;
}

.release {
  grid-column: 1/5;
  grid-row: 4/5;
  width: 100%;
  border: 2px solid rgba(55,219, 216);
  padding: 10px;
}

.releasetitle {
  border: 2px solid rgb(10, 15, 13);
  background-color: #306ebe;
  color: white;
  text-align: center;
}

.pinkdonutimg {
  height: 20%;
  width: 60%;
  margin-left: 20%;
}

.news {
  text-align: center;
}

.spotlight3 {
  display: none;
  text-align: center;
  background-color: #3398a5;
}

.firefighter {
  margin-left: 35%;
}

footer {
  display: grid;
  background-color: #327ba8;
  color:white;
  padding: 0; 
  margin: 0;
} 

.footerTitle {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: center;
  
}

.contactInfo {
  grid-column: 3/4;
  grid-row: 1/2;
  text-align: center;
}

.date {
  grid-column: 1/4;
  grid-row: 3;
  text-align: center;
  padding: 10px;
  font-size: .8rem;
}

.VisDate {
  grid-column: 1/4;
  grid-row: 2/3;
  display: flex;
  margin: auto;
  padding: 0;
  
}

.VisitDate {
  font-size: small ;
  padding: 5px
}


#button span:nth-child(1) {display: block;}
#button span:nth-child(2) {display: none;}
#button.open span:nth-child(1) {display: none;}
#button.open span:nth-child(2) {display: block;}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}