@media only screen and (min-width: 50em) {
    h1 {
      font-size: 3.0rem;
  
    }
  
    h2{
      font-size: 2rem;
    }
  
    header, footer{
      border-radius: 10px;
      }
  
      header img {
        box-shadow: 0 0 30px rgb(9, 9, 9);
        float: right;
        border-radius: 10px 0 0 0;
    }
  
    .design_grid {
      grid-template-columns: 1fr 1fr;
      }
    
    .alignment{
      grid-column: span 2;
    }
  
    
    header img {
      width: 300px;
      height: auto;
    }
  
  
  }
  