@charset "utf-8";

* {
    margin:0;
    box-sizing: border-box;
}

    .design_grid,
    .subtitle {
    display: grid;
    }


    .design_grid {
    grid-template-columns: 1fr;
    }

    .white_space,
    .alignment,
    .repetition {
        text-align: center;
        background-color: #fadad6;
        color: #0b0b0b;
        margin: 1rem;
        padding: .75rem;
    }

    
  .alignment{
    grid-column: span 0;
  }

    body {
        font-size: 1.5rem;
        line-height: 1.5;
        font-family: Arial, Helvetica, sans-serif;
        color: #032408;
        height: 100%;
        text-align:center;
        
    }

    h1 {
        font-size: 1.5rem;
        color: #ffffff;
        margin: 0.15rem;
    }

    .subtitle {
        font-size: 1.5rem;
        margin: 0.15rem;
    }

    h2{
        font-size: 1.5rem;
        border-bottom: 1px solid;
        margin-bottom: 0.5rem;
    }

    h3 {
        background-color: #f1f6f9;
        color: #ffffff;
    }
    
    

    header,
    nav,
    main,
    footer {
        padding: .75rem;
    }

    header,
    footer{
        text-align: center;
        background-color: #2a6cb8;
        color: #ffffff;
    }

    header img {
        width: 200px;
        height: auto;
    }

    footer {
        font-size: 18px;
        border-top-left-radius: 0.35em;
        border-top-right-radius: 0.35em;
        width: 98%;
    }

   

    nav {
        left: 45px;
        position: relative;
        text-align: left;
    }

    .lastupdated {
        font-size: 16px;
    }    


    section img {
        width: 300px;
        height: 600px;
    }